version: '3.8'

services:
  ktor-letter-pet:
    build: .
    container_name: ktor_app
    restart: always
    ports:
      - "8080:8080"
    environment:
      MONGO_URI: "mongodb://mongo:27017"
    depends_on:
      - mongo

  mongo:
    image: mongo:6.0
    container_name: mongo_db
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
